@import url('https://fonts.googleapis.com/css?family=Anton');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #23252C;
}

/* Main Body Styling */
.main-body{
    width: 60%;
    /* height: 100vh; */
    /* border: 2px solid black; */
    max-width: 900px;
    margin: 0 auto;
}
.main-div{
    width: 100%;
    /* background-color: blue; */

}

/* Image */
.pix-div{
    width: 100%;
    height: 150vh;
    background-image: url('./images/umoh.jpeg');
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    object-fit: fill;
    
}

main{
    background-color: #1A1B21;
    width: 100%;
    margin: 0 auto;
    padding: 1em 1.5em;
    text-align: center;
    
}
main h1{
    font-size: 3rem;
    color: #FFFF;
}
main h3{
    font-size: 1.5rem;
    color: #F3BF99;
}
main a{
    font-size: 0.80rem;
    color: #FFFF;
}
.for-buttons{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 1.5em;
    margin: 0 auto;

}
button{
    
    padding: 1em 4em;
    border-radius: 10px;
    border: none;
    /* border: 5px solid rgb(253, 252, 252); */
    
    
}
.button1{
    background-color: #FFFF;
}
.button1 a{
    color: black;
    font-size: 20px;
}
.button2{
    background-color: #5093E2;  
}
.button2 a{
    color: white;
    font-size: 20px;
}
a{
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;

}

/* Font-awesome */
.envelop{
    margin-right: 1em ;
    font-size: 20px;
    color: black;
}
.linked{
    margin-right: 1em ; 
    font-size: 20px;
    color: white;
}


/* About */
.about{
    background-color: #1A1B21;
    width: 100%;
    margin: 0 auto;
    padding: 1em 7em;
    text-align: justify;
    color: #FFFF;
}
.about p{
    font-size: 0.90rem;
    color: #DCDCDC;
    font-weight: 400;
}

/* Interests */
.interest{
    background-color: #1A1B21;
    width: 100%;
    margin: 0 auto;
    /* padding: 1em 7em; */
    padding-top: 1em;
    padding-right: 7em;
    padding-left: 7em;
    padding-bottom: 4em;

    text-align: justify;
    color: #FFFF;
    font-weight: bold;
}
.interest p{
    font-size: 0.90rem;
    color: #DCDCDC;
    font-weight: 400;
}


/* Footer section */
footer{
    background-color:#161619;
    padding: 1em 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 1em; */
}
footer a{
    background-color:#161619 ;
    color:#918E9B ;
}
.f-icon{
    /* border: 1px solid black; */
    /* background-color: #918E9B; */
    /* color: #161619; */
    /* padding: 0.25em 0.5em; */
    font-size: 40px;
}

@media screen and (max-width: 769px) {
    button{
        padding: 0.75em 2em;
        border-radius: 10px;
        border: none;
        /* border: 5px solid rgb(253, 252, 252); */  
    }
    .about{
        background-color: #1A1B21;
        width: 100%;
        margin: 0 auto;
        padding: 1em 4em;
        text-align: justify;
        color: #FFFF;
    }
    .interest{
        background-color: #1A1B21;
        width: 100%;
        margin: 0 auto;
        /* padding: 1em 7em; */
        padding-top: 1em;
        padding-right: 4em;
        padding-left: 4em;
        padding-bottom: 4em;
    
        text-align: justify;
        color: #FFFF;
        font-weight: bold;
    }
    main h1{
        font-size: 2rem;
        color: #FFFF;
    }
    main h3{
        font-size: 1rem;
        color: #F3BF99;
    }
}

@media screen and (max-width: 426px) {
    .main-body{
        width: 95%;
    }
    main{
        width: 100%;
        padding: 1em 2.5em;
        
    }
    main h1{
        font-size: 1.5rem;
    }
    main h3{
        font-size: 0.75rem;
    }
    main a{
        font-size: 0.80rem;
    }
    .pix-div{
        width: 100%;
        height: 100vh;
        background-color: #5093E2;
        background-position: center;
         object-fit: fill;
         background-size: cover;
        
    }
    .for-buttons{
        width: 100%;
        /* flex-direction: column; */
        align-items: center;
        
    }
    button{
        border-radius: 10px;
        border: none;
        display: flex; 
        margin: 0 1em; 
    }
    .button1{
        background-color: #FFFF;
        padding: 0.75em 3em ;
    }
    .button1 a{
        color: black;
        font-size: 14px;
    }
    .button2{
        background-color: #5093E2;  
        padding: 0.75em 3em ;
    }
    .button2 a{
        color: white;
        font-size: 14px;
    }
    a{
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    
    }
    
    /* Font-awesome */
    .envelop{
        /* margin-right: 1em ; */
        font-size: 15px;
    }
    .linked{
        /* margin-right: 1em ;  */
        font-size: 15px;
    }
    .about{
        padding: 1em 2em;
        text-align: left;
        margin-top: -1em;
    }
    .about p{
        font-size: 0.75rem;
    }
    .about h1{
        font-size: 1.5rem;
    }
    .interest{
        padding: 1em 2em 3.5em 2em;
        text-align: left;
    }
    .interest p{
        font-size: 0.75rem;  
    }
    .interest h1{
        font-size: 1.5rem;
    }
    .f-icon{
        font-size: 25px;
    }
}

@media screen and (max-width:376px) {
    .main-body{
        width: 95%;
    }
    main{
        width: 100%;
        padding: 1em 2.5em;   
    }
    main h1{
        font-size: 1.2rem;
    }
    main h3{
        font-size: 0.65rem;
    }
    .pix-div{
        height: 80vh; 
    }
    .about{
        padding: 1em 0.7em;
    }
    .about h1{
        font-size: 1.5rem;
    }
    .interest{
        padding: 1em 0.7em 3.5em 0.7em;
    }
    .interest h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 321px) {
    .main-body{
        width: 90%;
    }
    .button1{
        background-color: #FFFF;
        padding: 0.75em 1.5em ;
    }
    .button1 a{
        color: black;
        font-size: 14px;
    }
    .button2{
        background-color: #5093E2;  
        padding: 0.75em 1.5em ;
    }
    .button2 a{
        color: white;
        font-size: 14px;
    }

}